.content {
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}
.content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content .formField {
  flex: 1;
  margin: 10px;
}
.content .textField {
  display: flex;
  flex-direction: column;
}
.content input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.content button {
  margin: 20px;
}
.content img {
  resize: none;
  height: 800px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.first {
  position: relative;
}

.dropdown-content .second a {
  display: none;
}

.first:hover .second {
  position: absolute;
  top: 0;
  right: -130px;
  background-color: lightgrey;
}
.first:hover .second a {
  display: block;
  position: relative;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
